run = "cd advent2023 && dune exec $(find . -type f -path './day*' -printf '%T+ %h\n' | sort -r | head -n1 | cut -d'/' -f2-)"
entrypoint = "advent2023/day01/main.ml"
hidden = ["_build", ".opam"]

[env]
OPAMROOT = "$HOME/$REPL_SLUG/.opam"
OPAM_SWITCH_PREFIX = "$OPAMROOT/default"
# the following is usually set by .opam/opam-init/variables.sh, but we can't exec scripts in repl shells
CAML_LD_LIBRARY_PATH = "$OPAM_SWITCH_PREFIX/lib/stublibs:$CAML_LD_LIBRARY_PATH"
OCAML_TOPLEVEL_PATH = "$OPAM_SWITCH_PREFIX/lib/toplevel"
MANPATH = "$OPAM_SWITCH_PREFIX/man:$MANPATH"
PATH = "$OPAM_SWITCH_PREFIX/bin:$PATH"

[languages.OCaml]
pattern = "**/*.{ml,mli}"

[languages.OCaml.languageServer]
start = "ocamllsp"

[nix]
channel = "unstable"
